TransformServiceExamples.baseDir=@BUILD_DIR@/examples

FopTransformService.inputMessage=@BASE_DIR@/src/test/resources/fop/sample_input.fo
FopTransformService.tmpDir=@BUILD_DIR@/tmp

PdfToHtmlService.inputPdf=@BASE_DIR@/src/test/resources/pdf2html/sample-pdf.pdf
PdfToHtmlService.inputPdf2=@BASE_DIR@/src/test/resources/pdf2html/sample-pdf-multi-page.pdf
PdfToHtmlService.outputHtml=@BASE_DIR@/src/test/resources/pdf2html/sample-html-multi-page.html
