TransformServiceExamples.baseDir=@BUILD_DIR@/examples

FopTransformService.inputMessage=@BASE_DIR@/src/test/resources/fop/sample_input.fo
FopTransformService.outputMessage=@BASE_DIR@/src/test/resources/fop/sample_output.pdf




